input[type=number] {
    appearance: textfield;
}

.required:after {
    content: " *";
    color: red;
}

.checkout_form_box {
    width: 100%;
    height: auto;
    background-color: #F8F6F3;
    padding: 3% 10% 6%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.checkout_form_box h1 {
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #94d351;
    margin: 2% 0;
}

.checkout_form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.checkout_form_box .checkout_form form{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.checkout_form_box .checkout_form form .form_div {
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.your_order_box table {
    width: 100%;
    padding: 4% 0;
    border-collapse: collapse;
    border: none;
}

.your_order_box table tr {
    height: 40px;
    border-bottom: 1px solid #eee;
}
.your_order_box table td {
   border: 0;
}
.your_order_box table th {
   border: 0;
}

.your_order_box table tr:nth-child(1) {
    text-align: left;
}

.checkout_form_box .checkout_form form .your_order_box div{
    width: 100%;
    height: 20px;
    margin: 2% 0;
}

.checkout_form_box .checkout_form  form .your_order_box  div label {
    padding-left: 2%;
}

.checkout_form_box .checkout_form form .your_order_box {
    width: 40%;
    border: 1px solid gainsboro;
    height: fit-content;
    padding: 2% 3%;
    display: flex;
    flex-direction: column;

}
.checkout_form_box .checkout_form form .your_order_box h3{
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    margin: 0;

}
.your_order_box thead {
    border-bottom: 1px solid black;
}

#submit_form {
    background-color: #94d351;
    outline: none;
    border: none;
    height: 50px;
    border-radius: 5px;
    margin-top: 2%;
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.form_div h3 {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid gainsboro;
    margin: 2% 0;
}
select option:hover {
    background-color: blue;
}
.form_div p {
    width: 100%;
    height: auto;
    margin-bottom: 1.5%;
}

.your_order_box th:nth-last-child(1) {
    text-align-last: right;
}

.your_order_box td:nth-last-child(1) {
    text-align-last: right;
}

.form_div input,
textarea,
select {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border: 1px gainsboro solid;
}

.form_div textarea {
    height: auto;
    padding-left: 1.5%;
}

form .form_div
#Last_name_box ,#First_name_box{
    width: 45%;
}
form .form_div #name_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form_div select {
    background-color: #fff;
    padding-left: 1%;
}
.form_div select option{
    font-family: 'poppins';
}

.form_div input {
    padding-left: 1.5%;
}

.form_div p label {
    font-weight: 600;
    height: 28px;
}
#form_error{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    float: left;
}
#form_error p{
    width: 100%;
    font-weight: 600;
    color: #1f1f1f;
}
#form_error span{
    width: 100%;
    font-weight: normal;
}
@media screen and (max-width: 800px) {

.checkout_form form{
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

.checkout_form_box .checkout_form form .your_order_box {
   width: 90%;
   margin: auto;
}
.checkout_form_box .checkout_form form .your_order_box h3{
  text-align: center;
  font-size: 2rem;
}
.checkout_form_box .checkout_form form .form_div {
width: 100%;
}
}

@media screen and (max-width: 500px) {
.checkout_form_box{
    padding-left: 20px;
    padding-right: 20px;
}
.checkout_form_box .checkout_form form .your_order_box h3{
    text-align: center;
    font-size: 1.6rem;
  }
  table{
    padding: 0;
  }
}
#primary {
    width: 100%;
    padding: 4em;
    background-color: #F8F6F3;
}
@media screen and (max-width: 500px) {
#primary {
    width: 100%;
    padding: 4em 20px;
    background-color: #F8F6F3;
}}
#primary main{
    display: flex;
    flex-direction: column;
    gap:20px;
}
#primary main .content{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.orderbox{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.orderbox li{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 2px;
    padding-right:20px ;
    border-right: 1px solid #a4a4a4a5;
}
.orderbox li strong{
   font-weight: bold;
   font-size: 16px;
}
#primary main .order_details{
    width: 100%;

}
#primary main .order_details table{
   width: 100%;
   margin-bottom: 2em;
   padding: 0;
}
#primary main .order_details table thead{
    width: 100%;
}
#primary main .order_details table, td,th{
    text-align: left;
    padding: 2px 0;
    padding-left: 20px;
    font-weight: normal;
    margin: 0;
   border: 1px solid rgb(112, 112, 112);
   border-collapse: collapse;

}
#primary main.order_details table thead tr,tbody tr,tfoot tr{
    width: 50%;
}
.strong{
    font-weight: bold;
}
.order_details h2{
   width: 100%;
   border: 1px solid rgb(112, 112, 112);
   background-color: #FBFBFB;
   padding: 20px ;
   border-bottom: 0;
   font-weight: 600;
   inset:inherit;
}